.feedback {
    padding: 80px 0;
    min-height: 200px;
    .subtitle {
        margin-bottom: 20px;
        color: $main-color;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    &__item:nth-child(1) {
        border-right: 1px solid $grey-border-color;
        text-align: center;
       
    }
    &__item:nth-child(2) {
        padding-left: clamp(70px, 7vw, 110px);
        text-align: left;

        .title {
            margin-bottom: 21px;
            text-align: left;
        }
    }

    

    &__phone {
        margin: auto;
    }

    &__input {
        margin-bottom: 10px;
        width: 300px;
    }

    &__button {
        padding: 13px 40px 12px 40px;
        margin: auto;
        margin-bottom: 10px;
        font-size: 14px;
       
    }

    &__text {
        display: inline-block;
        max-width: 300px;
        font-size: 11px;
        font-weight: 300;
        color: $second-color;
    }

    &__info-title {
        margin-bottom: 11px;
        margin-left: 8px;
        font-weight: 600;
        font-size: 14px;
        color: $main-color;
    }
    
    &__info {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 14px;
        color: $main-color !important;
    }

    &__phone {
        display: flex;
        gap: 28px;
    }

    &__social {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;

        img {
            object-fit: cover;
            width: 100%;
            height: 166%;
            object-position: center;
        }

        &_telegram {
                margin-right: 3px;
            
        
            }
            &_whatsapp {
               margin-left: 3px;
           }
        

    }

 
}