$main-color: #1D1D1B;
$second-color: #A1A8AA;

$first-bg-color: #FFFFFF;
$second-bg-color: #F8F8F8;
$grey-border-color: #D3D8D9;

@mixin flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

