.footer {
    padding: 25px 0 ;
    background: $second-bg-color;
    

    &__items {
        display: flex;
        align-items: center;
    }

    &__links {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 60px;
    }

    &__link {
        font-size: 18px;
        color: $main-color;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;
        
        &::before {
            margin: 0;
            border: 1px solid black;
            border-radius: 100%;
            padding: 0.4rem;
            color: $main-color;
            transition: all .2s ease-in-out;
        }

        &:hover {

            color: $second-color;
                &::before {
                    color: $second-color; 
                    border-color: $second-color;
                }
            
        }
    }
    
}