@media (max-width: 768px) {
    .promo {
        &__img {
            height: clamp(480px, 37vw, 700px);
        }

        &__title {
            top: 50vw;
            font-size: clamp(24px, 4vw, 50px);
        }
    }
}