.promo {
    position: relative;
    width: 100%;
    // min-height: 700px;
    overflow: hidden;

    
    &__img {
        position: relative;
        width: 100%;
        height: clamp(600px, 37vw, 700px);
        overflow: hidden;
        img {
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        font-weight: 700;
        font-size: 50px;
        color: $main-color;
        z-index: 4;
        text-align: center;
        user-select: none;
    }

  
    
}