@media (max-width: 1360px) {
    .production {

        &__left-side {
            min-width: 200px;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .production {
        padding: 10vw 0;
        font-size: clamp(12px, 3.8vw, 46px);

        &__arrow-next, &__arrow-prev {
            top: 15%;
            width: clamp(30px, 9vw ,50px);

            img {
                object-fit: contain;
                width: 100%;
            }
        }

        &__item {
            flex-direction: column;
            gap: 3vw;
        }

        &__left-side {
            height: 57vw;
        }

        &__title {
            margin-bottom: 3vw;
            font-size: clamp(20px, 6vw, 58px);
        }

        &__subtitle {
            margin-bottom: 8.4vw;
            font-size: clamp(12px, 3.8vw, 46px);
        }

        hr {
            margin-bottom: 5vw;
        }

        .row-name {
            max-width: 64vw;
        }

        .row-name, .row-value {
            font-size: clamp(12px, 3.8vw, 46px);
        }

        .cell {
            padding-bottom: 10px;
        }

        &__arrow-icon {
            display: none;
        }

        &__price {
            flex-direction: column;
            align-items: start;
            gap: 4vw;
        }

        &__value {
            padding: 3%;
        }

        &__button {
            width: auto;
            height: auto;
            padding: 5% 15%;
        }

    
    }
}